{{ define "main" }}

<!-- Start Slider -->
{{ partial "sections/slider.html" . }}
<!-- End Slider -->

<!-- Start About Us -->
{{ partial "sections/about.html" . }}
<!-- End About Us -->

<!-- Start Categories -->
{{ partial "sections/categories.html" . }}
<!-- End Categories -->

<!-- Start Our Services -->
{{ partial "sections/services.html" . }}
<!-- End Our Services -->

<!-- Our Product -->
{{ partial "sections/products.html" . }}
<!-- End Product -->

<!-- Start Our Team -->
{{ partial "sections/team.html" . }}
<!-- End Our Team -->

<!-- Start Why choose Us -->
{{ partial "sections/choose_us.html" . }}
<!-- End Why choose Us -->

<!-- Start Blog -->
{{ partial "sections/blog_section.html" . }}
<!-- End Blog -->

{{ end }}
